params{
  project_name = "refgraph"
  sample_sheet = "/cbio/projects/012/stream1/team/gerrit/assembly/dec-2020-hackathon-stream1/assembly/NA12878.samplesheet.tsv"
  out_dir = "/cbio/projects/012/stream1/team/gerrit/assembly/out"
  sga_threads = 16
  kmer_size = 55
  min_overlap = 65
  assembly_min_overlap = 91
  min_branch_length = 160
}

executor{
    jobName = { "$task.tag" }
    queueSize = 100
    submitRateLimit = '10 min' // submit 10 jobs per minutde
}

process {
    cache = true

    withLabel: sga {
         container = '/cbio/images/sga.simg'
    }

    cpus = 1
    memory = 4.GB
    time = 12.h
    errorStrategy = 'retry'
    maxRetries = 5
    maxErrors = 1000

}

profiles {
    standard {
        process.executor = 'local'
    }
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
}

trace {
    enabled = true
    file = "${params.project_name}.trace.txt"
}

singularity {
  autoMounts = true
  enabled = true
  cacheDir = "${HOME}/.singularity"
}
