params{
  project_name = "project"
  sample_sheet = "/path-to-samplesheet"
  out_dir = "/path-to-output-dir"
  sga_threads = 16
  k = 55

}

executor{
    jobName = { "$task.tag" }
    queueSize = 100
    submitRateLimit = '10 min' // submit 10 jobs per minutde
}

process {
    cache = true

    withLabel: sga {
         container = '/cbio/images/sga.simg'
    }

    cpus = 1
    memory = 4.GB
    time = 12.h
    errorStrategy = 'retry'
    maxRetries = 5
    maxErrors = 1000

}

profiles {
    standard {
        process.executor = 'local'
    }
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
}

trace {
    enabled = true
    file = "${params.project_name}.trace.txt"
}

singularity {
  autoMounts = true
  enabled = true
  cacheDir = "${HOME}/.singularity"
}
